@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Orbitron:wght@400..900&display=swap');

body {
    background-color: black;
    color:#eae0d5;
    font-family: 'Orbitron', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* NAV */

nav {
    width: 93.5vw;
    height: 3.5vh;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(47,79,79,1) 50%, rgba(0,0,0,1) 97%);
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.7rem;
    justify-content: flex-end;
    gap:1.5em;
    padding: 2%;
    /* margin-bottom: 1vh; */
}
.nav_link{
    text-decoration: none;
    font-weight: 500;
    color: #eae0d5;
}

/* KONIEC NAV */



h1 {
    font-weight: 800;
}

#carti{
    text-align: right;
}

/* MAIN */

img {
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

#main{
    height:85vh;
    /* width: 100em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(main_background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    
}

#main.div {
    width:93%;
    
    
}

#main_travis, #main_and, #main_carti{
    font-size: 3rem;
}

/* MAIN2 */

#main2 {
    padding: 10%;
    padding-top: 5%;
}


/* TIMER */

#timer_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#timer_title {
    font-size: 5em;
    text-align: center;
    margin: 0;
    text-shadow: 4px 12px 15px rgba(234, 224, 213, 1);
}

#timer{
    font-size: 5em;
    margin-bottom: 10vh;
    margin-top: 3%;
    margin-bottom: 3%;
}

#ticket_button{
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 3%;
    background-color: #eae0d5;
    color:black;
    border: #2f4f4f solid 5px;
}

/* TRAVIS */

#main2_travis, #main2_playboi{
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    font-family: 'Karla'
}

#main2_travis {
    background: rgb(47,79,79);
background: linear-gradient(90deg, rgba(47,79,79,1) 48%, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 94%);
box-shadow: 8px 8px 20px -5px rgba(234, 224, 213, 1);
margin-bottom: 3vh;
padding-bottom: 0;
padding-top: 2em;
}

#main2_playboi {
    background: rgb(47,79,79);
background: linear-gradient(270deg, rgba(47,79,79,1) 48%, rgba(0,0,0,1) 73%, rgba(0,0,0,1) 94%);
box-shadow: -8px 8px 20px -5px rgba(234, 224, 213, 1);
padding-bottom: 0;
padding-top: 1em;
}

#travis_left_title{
    font-size: 4em;
    margin: 0;
}

#travis_left_desc{
    font-size: 1.5em;
}

#travis_image {
    width: 30vw;
    height: 30vh;
    z-index: 2;
    margin-left: 1vw;
}

#playboi_image{
    width:17vw;
    z-index: 2;
}

#playboi_left{
    text-align: right;
}

/* FOOTER */

footer {
    height: 13vh;
    width: 100%;
    background-color:rgb(47,79,79) ;
    display: flex;
    align-items: center;
    justify-content: center;
}